@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    background: url(bg5.jpg) no-repeat;
    background-size: cover;
    background-position: 10% 20%;
}

header{
    position: fixed;
    top: 2%;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logoa{
    text-decoration: none;
    color: #fff;
}
.logo{
    color: white;
    font-weight: 600;
    font-size: 32px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}


.nav-bar a:hover{
    color: black;
    background-color: #fefefe;
}
.nav-bar ul li a.active{
    color: black;
    background-color: #fefefe;
}
.nav-bar li .btnlogin{
    width: 100px;
    height: 40px;
    background: transparent;
    color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    outline : none;
    cursor: pointer;
}
.nav-bar li .btnlogin a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar li .btnlogin:hover{
    background-color: #fefefe;
    color: black;
}

.wrapper{
    position: absolute;
    top: 25%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(225,225,225,.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0 0 0 .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login-box h2{
    font-size: 32px;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #162938;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #162938;
    line-height: 57px;
}
.remember{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember a{
    color: #162938;
}
.remember a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}


@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
    body{
        background: url(bg5.jpg) no-repeat;
        background-size: 1350px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
    body{
        background: url(bg5.jpg) no-repeat;
        background-size: 1100px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left:0;
        right:0;
        width:100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
        
    }
    body{
        background: url(bg5.jpg) no-repeat;
        background-size: 1375px;
        background-position: top;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-left: 12px;
    }
    .wrapper{
        position: absolute;
        top: 25%;
        width: 300px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(225,225,225,.5);
        border-radius: 25px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0 0 0 .5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
